<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>basic sphere</title>
    </head>
    <body>
        <p>Welcome to the first rendered threeJs app</p>
    </body>
</html>