<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>basic sphere</title>

        

        <!--adding styling to the application-->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <div class="content-box">
            <canvas id="myCanvas"></canvas>
        </div>

        <!--adding primary threeJS library-->
        <script src="three/build/three.js"></script>

        <!--adding a loader to load objects from blender -->
        <script src="three/examples/js/loaders/FBXLoader.js"></script>

        <!--adding jqurey to the app-->
        <script   src="jquery/dist/jquery.min.js"></script>

        <!--adding the canvas js file to the application-->
        <script src="js/canvas.js"></script>
    </body>
</html>