<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>basic sphere</title>

        <!--adding styling to the application-->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
            
        <div class="content-box" id="env">
            <img  id="loading" src="gifs/loading.gif">
            <div  id="datGUI" class = 'datGUI'>
        </div>

        <!--adding jqurey to the app-->
        <script   src="jquery/dist/jquery.min.js"></script>

        <!--adding the resize sensor code-->
        <script src="resize-sensor/ResizeSensor.min.js"></script>

        <!--adding primary threeJS library-->
        <script src="three/build/three.min.js"></script>

        <!-- The WebGL support package -->
        <script src = "three/examples/js/WebGL.js"></script>

        <!--adding orbital controls-->
        <script src="three/examples/js/controls/OrbitControls.js"></script>

        <!--adding inflate -->
        <script src="three/examples/js/libs/inflate.min.js"></script>

        <!--adding dat.gui js -->
        <script src ="dat.gui/build/dat.gui.js"></script>

        <!--adding a loader to load objects from blender -->
        <script src="three/examples/js/loaders/FBXLoader.js"></script>

        <!--adding a texture loader for the artifact-->
        <script scr="three/src/loaders/TextureLoader.js"></script>

        <!--statistics min -->
        <script src = "three/examples/js/libs/stats.min.js"></script>

        <!--Loader for the loading manager-->
        <script src="js/LoadingManager.js"></script>
 
        <!--Loader for adding fbx file-->
        <script src="js/EnvironmentAPI.js"></script>

        <!--API for adding objects on pages-->
        <script src="js/Artifact.js"></script>

        <!--testing stuff-->
        <script src="js/Start.js"></script>
     
    </body>
</html>