.content-box{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 97vh;
}

canvas{
    touch-action: none;
}

.datGUI{
    position: absolute;
    right: 0px;
}

#loading{
    position: absolute;
    z-index: 90;
    left: 50%; 
    top: 35%;
    height: 20%;
    transform: translate(-50%,0); 
}
